{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            title
        {% endblock %}
    </title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/shoppinglist.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>
</head>
<body>
    {% block body %}
        body
    {% endblock %}
</body>
</html>
