{% extends 'base.html' %}
{% block title %}
    非单
{% endblock %}
{% block body %}
    <div class="container">
    <div class="row second_shopping_list">
        {% for second_shopping_item in second_shopping_list %}
        <div class="col-md-2 second_shopping_item">
            <a href="#" class={{ second_shopping_item.id }}>{{ second_shopping_item.name }}</a>
        </div>
        {% endfor %}
    </div>
    </div>
    <div class="container">
    <div class="second_shopping_tag_list"></div>
    <div class="third_shopping_list"></div>
    <div class="page_info"></div>
    </div>
    <script>
        $(document).ready(function(){
            $('body > div.container > div > div:nth-child(1)').addClass('active');
            click_second_or_tag();
        });
    </script>
{% endblock %}
